{% extends 'base.html.twig' %}

{% block title %}Fauteuil !{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Récapitulatif des salles</h1>
    <table style="margin: 0 auto;">
        <thead>
            <tr>
                <th>ID</th>
                <th>État</th>
            </tr>
        </thead>
        <tbody>
            {% for userData in filteredUserData %}
                <tr>
                    <td style="text-align: center;">{{ userData.id }}</td>
                    <td style="text-align: center;">{{ userData.etat.getLabel() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}