<!-- header/header.html.twig -->

<header class="header">
    <a href="" class="logo">YSalles</a>
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}">Admin</a></li>
            {% endif %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
</header>

<style>
    body {
        margin: 0;
        font-family: Helvetica, sans-serif;
        background-color: #f4f4f4;
    }

    a {
        color: #000;
    }

    /* header */

    .header {
        background-color: #fff;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
        width: 100%;
        z-index: 3;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
        display: flex; 
      }

    .header li {
        margin: 0;
        padding: 0;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background-color: #f4f4f4;
    }

    .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
    }

    ul{
        justify-content:end;
    }
</style>
