{% extends 'base.html.twig' %}

{% block title %}Hello TabletController!{% endblock %}

{% block body %}

<div class="{{ etat }}">

</div>

<style>
    .orange { margin: 0; padding: 0; min-width: 100vw; min-height: 100vh; background-color: orange;}
    .red { margin: 0; padding: 0; min-width: 100vw; min-height: 100vh; background-color: red;}
    .green { margin: 0; padding: 0; min-width: 100vw; min-height: 100vh; background-color: green;}
</style>

{% endblock %}
