{% extends 'base.html.twig' %}

{% block title %}Hello TabletController!{% endblock %}

{% block body %}

<div class="{{ etat }}">

</div>

<style>
    .orange { margin: 0; padding: 0; min-width: 100vw; min-height: 100vh; background-color: orange;}
    .red { margin: 0; padding: 0; min-width: 100vw; min-height: 100vh; background-color: red;}
    .green { margin: 0; padd   ing: 0; min-width: 100vw; min-height: 100vh; background-color: green;}
</style>

<script> 
    function checkEtat(){
        const etatSelector = ".{{ etat }}"; 
        const etatDiv = document.querySelector (etatSelector);
        let previousEtat = "{{ etat }}";
        console.log("ok");
    }
    function fetchEtat(){
        fetch("{{path('tablet_etat') }}")
        .then(Response => Response.json())
        
        .then(data => {
            const currentEtat = data.etat })
            if(currentEtat !== previousEtat){
                
                etatDiv.className = currentEtat
                previousEtat = currentEtat
            }
           
        
    console.log("ok");
    checkEtat()
    setInterval(fetchEtat, 3000); // (300 000) 5 minutes en millisecondes 
    console.log("ok");
    }
    checkEtat()
    
</script>

{% endblock %}
